main {
 
  #root::after { 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(210, 207, 212, 0.5); /* Белый наложенный слой с прозрачностью */ 
    opacity: 0.5; /* Установка значения прозрачности */ 
    z-index: -1; /* Размещаем слой за контентом #root */ 
  }
  
}