main {
  background: rgb(152, 112, 138);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(145, 219, 244);
}

h4 {
  
  color: black;
  font-family: 'Nabla', sans-serif;
  text-align: center;
}


.image-about {
  width: 100%;
  overflow: hidden;

}

p {
  color: rgb(0, 0, 0);   
  font-family: 'Nabla', sans-serif;
  font-size: 1.2rem;      
}