#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1; /* Занимает оставшееся пространство */
  background: url(../../images/cinemaHome.jpg) center / cover no-repeat;
  background-attachment: fixed; /* Фон остаётся на месте */
  display: flex;
  flex-direction: column;  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Контрастный текст */
  z-index: 0;
}

main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Полупрозрачное наложение */
  z-index: -1;
}