
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  background-color: #08041b;
}

h4 {
  
  color: rgb(165, 42, 138);
  font-family: 'Nabla', sans-serif;
  text-align: center;
}


.image-about {
  width: 100%;
  overflow: hidden;

}

p {
  color: rgb(0, 0, 0);   
  font-family: 'Nabla', sans-serif;
  font-size: 1.2rem;      
}


#root::after { 
  content: ""; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(210, 207, 212, 0.5); /* Белый наложенный слой с прозрачностью */ 
  opacity: 0.7; /* Установка значения прозрачности */ 
  z-index: -1; /* Размещаем слой за контентом #root */ 
}
