main {
  background-color: #1e1e1e; /* Темный фон */
  color: #ffffff; /* Белый текст */
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.support, .feedback-form {
  width: 48%;
  background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
  padding: 20px;
  border-radius: 8px;
}

.support h2, .feedback-form h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.support p {
  font-size: 1.1rem;
  margin: 5px 0;
}

.social-links a {
  margin-right: 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.2);
}

.feedback-form form {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  font-size: 1rem;
  margin: 10px 0 5px;
}

.feedback-form input,
.feedback-form textarea {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
  color: #ffffff; /* Белый текст */
}

.feedback-form button {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.feedback-form button:hover {
  background-color: #0056b3;
}